    <h1 class="newBlogText">Add a Blog</h1>

    <form action="/blogs" method="POST" id="blog-form" class="form">

        <label for="recipeName">Blog Name:</label>
        <input type="text" name="blogName" placeholder="Type Something" id="blogName"><br>

        <label for="Hobby">Hobby:</label>
        <input type="text" name="hobby" placeholder="Enter Hobby" id="Hobby"><br>
       <br>

        <label for="youtubeLink">Youtube Link (optional):</label>
        <input type="text" name="youtubeLink" placeholder="Enter Youtube Link" id="youtubeLink"><br>  
        
        <button type="submit" class="btn btn-primary mb-2">Submit!</button>
    </form>

    <div class="error-group alert alert-danger" hidden>
          <ul id = "errors-recipe">
            {{#if errors}}
              <li>{{errors}}</li>
            {{/if}}
          </ul>
      </div>

    <div id="successDiv" hidden></div>


    <script src="/public/js/blog.js"></script>
