{{#if result}}
<section class="showdetails_blogs">
 


  <div>
    
    <h1>{{result.blogName}}</h1>
    
    <dl>
      <dt>Hobby</dt>
      <dd>{{result.hobby}}</dd>
       <dt>Youtube Link</dt>
       <dd><a href="{{result.youtubeLink}}" target="_blank"></dd>
      <dd>{{result.youtubeLink}}</dd>
    </dl>
  </div>

</section>

{{/if}}
