<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/public/css/lab10.css">
	<title>Error Page</title>
	<link rel="stylesheet" href="/public/css/main-styles.css">
</head>
<body>
	<main>
		<p class="error">{{ errorMessage }}</p>
	</main>
</body>
</html>
