<script id="homepage-template" type="text/x-handlebars-template">
  <h1>Welcome to My Showcase</h1>
  <p>Discover amazing showcases created by talented individuals.</p>

  <h2>Popular Showcases</h2>
  <div class="showcase-grid">
    {{#each showcases}}
    <div class="showcase">
      <img src="{{previewImage}}" alt="{{title}}">
      <h3>{{title}}</h3>
      <p>{{description}}</p>
      <a href="#" class="btn">View Showcase</a>
    </div>
    {{/each}}
  </div>
</script>
