<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/CS-546-Final-Project/frontend/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
</head>
<body>
    <p>You have successfully logged out of your account</p>
    <a href="/">Go back</a>
</body>
</html>
